:host {
    ion-button {
        padding: 0px;
        margin: 0px;
        height: 30px;
        border-radius: 15px;
    }
    ion-item {
        --border-style: none;
    }
    .img-redo {
        border-radius: 50%;
    }
}