<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Listado
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-list>
        <ion-list-header>
            Listado De Ofertas
        </ion-list-header>


        <ion-item *ngFor="let offer of offers">
            <ion-avatar slot="start">
                <img src="https://ionicframework.com/docs/demos/api/list/avatar-yoda.png">
            </ion-avatar>
            <ion-label>
                <h2>{{offer.nombres}}</h2>
                <h3>{{offer.fechaNacimiento}}</h3>
                <p>{{offer.descripcionPersonal}}</p>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>